<nav class="nav">
    <a href="__ROOT__/user/index#avatar-box" title="<{$Think.session.username}>" class="user">
        <img src="__ROOT__/<{$Think.session.avatar}>" title="<{$Think.session.username}>" alt="<{$Think.session.username}>" />
    </a>
    <ul>
        <li><a href="__ROOT__/wool/index" title="羊毛记录" ><img src="__IMG__/nav-wool.png" title="羊毛记录" alt="羊毛记录" /></a></li>
        <li><a href="__ROOT__/user/index" title="设置"><img src="__IMG__/nav-setting.png" title="设置" alt="设置" /></a></li>
    </ul>
</nav>