<!DOCTYPE html>
<html>
<head>
    <title><{$title}></title>
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/LCXZS.css">
    <link href="__IMG__/LCXZS-icon.png" rel="shortcut icon">
</head>
<body>
<div class="LCXZS">
    <header class="header">
        <div class="center clearfix">
            <a href="/TWBB/" title="TWBB记事本" class="logo">
                <img src="__IMG__/LCXZS-icon.png" title="TWBB记事本" alt="TWBB记事本" /> 
                <h1>TWBB</h1>
            </a>
            <div class="user-information">
                <if condition="$_SESSION.uid != ''" >
                    <a href="__ROOT__/user/index" title="<{$Think.session.username}>"><{$_SESSION.username}></a>
                    <a href="__ROOT__/sign/out" title="退出">退出</a>
                <else />
                    <a href="__ROOT__/sign/in" title="登录">登录</a>
                    <a href="__ROOT__/sign/register" title="注册">注册</a>
                </if>
            </div>
        </div>
    </header>
    