<include file="pub:header" />
    <article class="form-cont login clearfix">
        <img src="__IMG__/login-touxiang.png" title="头像" alt="头像" class="login-touxiang" />
        <form class="clearfix" method="post" action="__ROOT__/sign/in">
            <ul>
                <li class="form-input clearfix">
                    <div class="form-title">用户名：</div>
                    <input type="text" name="username" placeholder="请输入用户名"/>
                </li>
                <li class="form-input clearfix">
                    <div class="form-title">密　码：</div>
                    <input type="password" name="userpw" placeholder="请输入用户名"/>
                </li>
                <li class="form-submit clearfix">
                    <input type="submit" value="登录" />
                    <input type="reset" value="重置" />
                </li>
            </ul>
            <div class="new-register">
                还没有帐号吗？ <a href="__ROOT__/sign/register" title="马上注册吧">马上注册吧</a>
            </div>
        </form>
    </article>
</div>
<include file="pub:footer" />
</body>
</html>